<!DOCTYPE html>
<html>
<head>
  <title>Welcome – <%= shopData.shopName %></title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>

    <nav class="navbar">
      <div class="nav-left">
        <a href="/" class="nav-logo"><%= shopData.shopName %></a>
      </div>

      <ul class="nav-center">
        <li><a href="/about">About</a></li>
        <li><a href="/meals/list">All Meals</a></li>
        <li><a href="/workouts/list">All Workouts</a></li>
        <li><a href="/auth/register">Register</a></li>
      </ul>
      <div class="nav-right">
        <a href="./login" class="login-btn">Login</a>
        <a href="./logout" class="login-btn">Logout</a>
      </div>
    </nav>

<div class="index-container">

  <h1><%= message %></h1>

  <% if (username) { %>
      <p>Welcome back, <strong><%= username %></strong>.</p>
      <a href="/workouts/list" class="btn" style="margin-top: 20px;">View Workouts</a>
      <a href="/meals/list" class="btn" style="margin-top: 20px;">View Meals</a>
  <% } else { %>
      <p>Your login attempt was not successful.</p>
      <a href="/auth/login" class="btn" style="margin-top: 20px;">Try Again</a>
  <% } %>

</div>

</body>
</html>