<!DOCTYPE html>
<html>
<head>
  <title>Add Meal – <%= shopData.shopName %></title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <nav class="navbar">
    <div class="nav-left">
        <a href="/" class="nav-logo"><%= shopData.shopName %></a>
    </div>

    <ul class="nav-center">
        <li><a href="../about">About</a></li>
        <li><a href="./add">Add Meals</a></li>
        
        <li><a href="./list">All Meals</a></li>
        <li><a href="./search">Search Meals</a></li>
    </ul> 

    <div class="nav-right">
        <a href="../auth/login" class="login-btn">Login</a>
        <a href="../auth/logout" class="login-btn">Logout</a>
    </div>
  </nav>
<div class="index-container">
  <div class="section">
    <h1 style="margin-top:0">Add a New Meal</h1>

    <form action="./add" method="POST">
      <label>Meal Name</label>
      <input type="text" name="name" required>

      <label>Calories (cal)</label>
      <input type="number" step="1" name="calories" required>

      <label>Protein (g)</label>
      <input type="number" step="1" name="protein" required>

      <div class="actions">
        <button class="btn btn-primary" type="submit">Add Meal</button>
        <a class="btn" href="./list">Back to List</a>
      </div>
    </form>

  </div>
</div>
</body>
</html>
